<footer class="container-fluid">
    <section class="row">
        <div class="col-6 col-md-4 order-1 order-md-1">
            <a href="{{path('app_legal_notices')}}" title="{% trans %}Mentions légales et politique de confidentialité{% endtrans %}" style="color: white">{% trans %}Mentions légales et Politique de confidentialité{% endtrans %}</a>
        </div>
        <div class="col-12 col-md-4 order-3 order-md-2">
            <p class="text-center">Copyright© 2024, {% trans %}Tous droits réservés Jess-Relocation{% endtrans %}</p>
        </div>
        <div class="col-6 col-md-4 text-end order-2 order-md-3">
            <a href="https://www.instagram.com/viensjteloge/" target="_blank" title="{% trans %}Retrouvez-moi sur Insta{% endtrans %}" class="sub-header-link me-3"><i class="bi bi-instagram sub-header-social-icon"></i></a>
            <a href="https://www.tiktok.com/@viensjteloge" target="_blank" title="{% trans %}Je vous met fréquemment du contenu TikTok{% endtrans %}" class="sub-header-link me-3"><i class="bi bi-tiktok sub-header-social-icon"></i></a>
            <a href="https://www.linkedin.com/in/jessica-g%C3%A9rold-householder-a92655a4/" target="_blank" title="{% trans %} N'hésitez pas à me suivre sur LinkedIN{% endtrans %}" class="sub-header-link"><i class="bi bi-linkedin sub-header-social-icon"></i></a>
        </div>
    </section>
</footer>