<section class="container-fluid" id="index-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-floue.jpg")}})">
    <div class="row">
        <div class="col-12 index-header-title-text">
            <h1 class="index-header-banner-txt-padding text-shadow">Besoin d'un logement <br> dans la métropole Lyonnaise?</h1>
        </div>

        <!-- petit texte d'entrée invisible-->
        <div class="col-12 index-header-p-right-text">
            <div class="row">
                <div class="offset-5 col-7 text-end">
                    <p class="index-header-banner-txt-padding text-shadow">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia doloribus quaerat modi tenetur repellat rerum, accusantium fugit facilis obcaecati tempora, quis commodi blanditiis qui dolor minima aspernatur. Nemo, harum tempore.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 index-header-p-e-text">
            <h4 class="index-header-banner-txt-padding text-shadow">
                Pour <a href="{{path('app_individuals_services')}}" class="link-underscored-white" alt="">PARTICULIER</a> ou pour <a href="{{path('app_businesses_services')}}" class="link-underscored-white" alt="">ENTREPRISE</a>
            </h4>
        </div>
    </div>
</section>