<div class="container-fluid" id="sub-header">
    <div class="row">
        <div class="col-8 sub-header-contact-row">
            <span class="sub-header-contact"><a href="tel: 0033652269715" title="{% trans %}Contactez-moi par téléphone{% endtrans %}" class="sub-header-link"><i class="bi bi-whatsapp"></i> +33 (0)652269715</a></span>
            <span class="sub-header-contact"><a href="mailto: contact@jess-relocation.com" title="{% trans %}Contactez-moi par email{% endtrans %}" class="sub-header-link"><i class="bi bi-google"></i> contact@jess-relocation.com</a></span>
            <span class="sub-header-contact"><i class="bi bi-pin-map"></i> Lyon, France</span>
        </div>
        <div class="col-12 col-sm-4 text-end">
            <a href="https://www.instagram.com/viensjteloge/" target="_blank" title="{% trans %}Retrouvez-moi sur Insta{% endtrans %}" class="sub-header-link"><i class="bi bi-instagram sub-header-social-icon"></i></a>
            <a href="https://www.tiktok.com/@viensjteloge" target="_blank" title="{% trans %}Je vous met fréquemment du contenu TikTok{% endtrans %}" class="sub-header-link"><i class="bi bi-tiktok sub-header-social-icon"></i></a>
            <a href="https://www.linkedin.com/in/jessica-g%C3%A9rold-householder-a92655a4/" target="_blank" title="{% trans %}N'hésitez pas à me suivre sur LinkedIN{% endtrans %}" class="sub-header-link"><i class="bi bi-linkedin sub-header-social-icon"></i></a>
        </div>
    </div>
</div>