<div class="container-fluid" id="sub-header">
    <div class="row">
        <div class="col-8 sub-header-contact-row">
            <span class="sub-header-contact"><a href="#" title="Contactez moi par téléphone" class="sub-header-link"><i class="bi bi-whatsapp"></i> +33 (0)767978282</a></span>
            <span class="sub-header-contact"><a href="#" title="Contactez moi par email" class="sub-header-link"><i class="bi bi-google"></i> idsall.pro@gmail.com</a></span>
            <span class="sub-header-contact"><i class="bi bi-pin-map"></i> Lyon, France</span>
        </div>
        <div class="col-4 text-end">
            <a href="#" title="" class="sub-header-link"><i class="bi bi-facebook sub-header-social-icon"></i></a>
            <a href="#" title="" class="sub-header-link"><i class="bi bi-instagram sub-header-social-icon"></i></a>
            <a href="#" title="" class="sub-header-link"><i class="bi bi-tiktok sub-header-social-icon"></i></a>
            <a href="#" title="" class="sub-header-link"><i class="bi bi-linkedin sub-header-social-icon"></i></a>
        </div>
    </div>
</div>