{% extends('base.html.twig') %}

{% block title %}{% endblock %}

{% block body %}
<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-contact.jpg")}})">
</section>

<main class="container-fluid">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Besoin d'un logement ?</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis esse reprehenderit est sed numquam provident, eveniet cumque temporibus corrupti voluptates praesentium assumenda voluptatum, eos ad facere? Minus dolor et eius!
                </p>
            </div>
            <!-- form area -->
            <div class="col-12">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Nom &amp; Prénom">
                        <label for="floatingInput">Nom &amp; Prénom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Message</label>
                    </div>
                    <button type="submit" class="btn-prim"><i class="bi bi-send"></i> Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}