{% extends('base.html.twig') %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-contact.jpg")}})">
</section>

<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Besoin d'un logement ?</h1>
            <p class="text-center">
                Expliquez-moi votre besoin en remplissant le formulaire ci-dessous,
                je vous contacterai dans les plus brefs délais après réception de votre message!
            </p>
        </div>
        <!-- form area -->
        <div class="col-12">
            <form>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputName" placeholder="Nom &amp; Prénom">
                    <label for="floatingInputName">Nom &amp; Prénom</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputEmail" placeholder="Adresse email">
                    <label for="floatingInputEmail">Adresse email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputSubject" placeholder="Sujet">
                    <label for="floatingInputSubject">Sujet</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Message"
                        id="floatingTextareaMsg"></textarea>
                    <label for="floatingTextareaMsg">Message</label>
                </div>
                <button type="submit" class="btn-prim"><i class="bi bi-send"></i> Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}