<section class="container-fluid" id="index-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-floue.jpg")}})">
    <div class="row">
        <div class="col-12 mt-1">
            <h1 class="index-header-banner-txt-padding text-shadow">Besoin d'un logement <br> dans la métropole Lyonnaise?</h1>
        </div>
    </div>

    <!-- petit texte sur Lyon -->
    <div class="row mt-5">
        <div class="offset-5 col-7 text-end">
            <p class="text-shadow">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia doloribus quaerat modi tenetur repellat rerum, accusantium fugit facilis obcaecati tempora, quis commodi blanditiis qui dolor minima aspernatur. Nemo, harum tempore.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 index-header-banner-txt-padding">
            <h4 class="text-shadow">
                Pour <a href="#" class="link-underscored-white" alt="">PARTICULIER</a> ou pour <a href="#" class="link-underscored-white" alt="">ENTREPRISE</a>
            </h4>
        </div>
    </div>
</section>