{% extends 'base.html.twig' %}

{% block title %}Individuals Services{% endblock %}

{% block body %}

<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-individuals.jpg")}})">
</section>

<main class="container-fluid">
    <!-- explain section -->
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Vous déménagez dans la métropole de Lyon ?</h1>
                <p>
                    Pour que ce changement de vie ne soit pas synonyme de stress inutile,
                    confiez votre recherche d'appartement à une personne connaissant parfaitement
                    ce secteur et son marché locatif ultra tendu.
                </p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Mes services</h1>
            </div>
    
            <div class="col-12 col-md-4 mt-1">
                <div class="card service-card">
                    <span><i class="bi bi-chat service-card-icon"></i></span>
                    <h5 class="service-card-h">Evaluation du besoin</h5>
                    <p>
                        Evaluation des besoin et établissement d'un cahier des charges en adéquation avec le marché locatif <br> &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card service-card">
                    <span><i class="bi bi-folder service-card-icon"></i></span>
                    <h5 class="service-card-h">Constitution du dossier</h5>
                    <p>
                        Gestion de votre dossier et de celui de vos garants, de son établissement à sa transmission aux agences <br> &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-1">
                <div class="card service-card">
                    <span><i class="bi bi-search service-card-icon"></i></span>
                    <h5 class="service-card-h">Recherche de logement</h5>
                    <p>
                        Recherche proactive grâce à mon réseau d'agents partenaires, ma veille active auprès des particuliers et ma réactivité sur le terrain
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- steps section -->
    <section class="row banner mt-3 wow animate__animated animate__backInLeft">
        <h1 class="text-center  mb-4">Les étapes de notre travail ensemble</h1>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus rem eligendi, eius dolorum iure nostrum ipsum pariatur quas delectus nisi qui rerum, eos dolorem, perferendis labore illo dicta. Facilis, rerum?</p> -->
        <div class="col-12 col-md-6">   
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Call découverte permettant de cerner vos attentes</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolores eum, totam sint numquam sapiente deleniti, illum architecto suscipit, libero aliquam. Vero voluptate praesentium, quod necessitatibus veniam unde iste earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel aliquam tempora quae facere, nisi deleniti eveniet eius dolorum ipsum? Ut repellendus blanditiis harum distinctio recusandae itaque quos, sequi veritatis.</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Gestion de votre dossier dans le respect de la RGPD</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Adaptation de votre dossier aux exigences des agences</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Recherche de votre bien en collaboration avec mes contact en agences et auprès des particuliers</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Visites sur le terrain</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Mise à disposition des photos et vidéos détaillées des biens: je suis vos yeux sur le terrain</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Dépôt de votre dossier</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
            <div class="individual-services-step-list">
                <h5><i class="bi bi-check-square-fill"></i> Accompagnement à la relecture du bail, gestion de l'état des lieux, mise en service du logement selon la formule choisie</h5>
                <!-- <div class="individual-services-step-list-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure, neque odio similique est doloribus debitis perspiciatis vero praesentium iusto, tenetur impedit consequatur beatae aspernatur libero quibusdam pariatur. Aspernatur, id!</div> -->
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{asset('assets/img/img-individual-service.jpg')}}" alt="Picture" class="img-fluid mb-2">
        </div>
    </section>
</main>

{% endblock %}