/*
    prim-color: #00561B
    sec-color: #0c1431
    text-color: #323D53
    banner-text-color: white
    banner-color: #0c1431
    white:hover: rgb(207, 199, 199)
*/

body {
    background-color: whitesmoke;
    color: #323D53;
}

/* partie au dessus du header */
#sub-header
{
    background: linear-gradient(40deg, #0c1431, #00561B);
    color: white;
}

.sub-header-contact
{
    padding: 5px;
    border-left: 1px solid white;
}

.sub-header-contact:first-child
{
    border: none;
}

.sub-header-link
{
    text-decoration: none;
    color: white;
}

.sub-header-social-icon
{
    padding: 2px;
}

/* header */
.header-link-accentuate
{
    border: 1px solid #00561B;
    border-radius: 30px;
    color: white;
    background-color: #00561B;
}

/* languages icones */
.langue-icone
{
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

/* bannière de l'accueil */
#index-header-banner
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    background-position: center;
    background-color: #0c1431;
    color: white;
}

.index-header-banner-txt-padding
{
    padding: 10px;
}

.index-header-title-text
{
    margin-top: 15px;
}

.index-header-p-right-text
{
    margin-top: 40px;
}

.index-header-p-e-text
{
    margin-top: 40px;
}

.review-card
{
    padding-top: 5px;
}

#agency-carousel
{
    margin: 50px 0 20px 0;
}

#help-you
{
    background-color: #0c1431;
    color: white;
    margin-bottom: 20px;
    padding: 50px;
}

.img-help-you
{
    width: 350px;
    height: 350px;
    margin-top: 20px;
}

#reasons
{
    margin-bottom: 20px;
}

#reviews
{
    margin-bottom: 20px;
}

#how-it-works-banner
{
    background-color: #0c1431;
    color: white;
    padding: 10px 0 10px 0;
}

/* about */
.about-profil-img
{
    width: 350px;
    height: 350px;
    transform: rotate(350deg);
    padding: 30px;
    border-radius: 60%;
}

.about-icone-link
{
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
}

/* services */
.service-card
{
    border-color: #00561B;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
}

.service-card-icon
{
    font-size: 35px;
    color: #00561B;
}

.service-card-h
{
    color: #00561B;
}

.individual-services-step-list
{
    margin-bottom: 20px;
}

.individual-services-step-list-description-text
{
    margin-left: 27px;
    font-size: 12px;
}

/* contact */
.page-header-banner
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    background-position: center;
    background-color: #0c1431;
    color: white;
    margin-bottom: 10px;
}

.contact-icone-link
{
    text-decoration: none;
    color: #323D53;
    font-size: 20px;
}

.contact-icone
{
    font-size: 20px;
}

/* footer */
footer
{
    padding: 10px;
    border-top: 1px solid white;
    background-color: #0c1431;
    color: white;
}

/* other */
.active
{
    font-weight: bold;
}

.border-prim
{
    border: 1px solid #00561B;
    border-radius: 30px;
    color: white;
    background-color: #00561B;
}

.border-prim-rounded
{
    border: 1px solid #00561B;
    border-radius: 30px;
    color: white;
    background-color: #00561B;
}

.border-prim-rounded-outline
{
    border: 1px solid #00561B;
    border-radius: 30px;
    color: #323D53;
    padding: 5px;
    background-color: none;
}

.radius-circled
{
    border-radius: 60px;
}

.text-shadow
{
    text-shadow: 1px 1px 2px black;
}

.link-underscored-white
{
    color: white;
}

.link-underscored-white:hover
{
    color: rgb(207, 199, 199);
}

.link-accentuate
{
    border: 1px solid #00561B;
    border-radius: 0px;
    padding: 2px;
    color: white;
    background-color: #00561B;
    text-decoration: none;
}

.banner
{
    background-color: #0c1431;
    color: white;
}

.header-v-separator
{
    border-right: 1px solid #00561B;
}

/* btn */

.btn-prim
{
    border: 1px solid #00561B;
    color: white;
    background-color: #00561B;
    text-decoration: none;
    padding: 5px;
}

.btn-prim-rounded
{
    border: 1px solid #00561B;
    border-radius: 30px;
    color: white;
    background-color: #00561B;
    text-decoration: none;
    padding: 5px;
}

.btn-prim:hover, .btn-prim-rounded:hover
{
    background-color: #103c1e;
    color: white;
}

.btn-sec
{
    border: 1px solid #0c1431;
    color: white;
    background-color: #0c1431;
    text-decoration: none;
    padding: 5px;
}

.btn-sec-rounded
{
    border: 1px solid #0c1431;
    border-radius: 30px;
    color: white;
    background-color: #0c1431;
    text-decoration: none;
    padding: 5px;
}

.btn-sec:hover, .btn-sec-rounded:hover
{
    background-color: #102572;
    color: white;
}


/* style spécifique aux petits écrans */
@media (max-width: 576px) {
    /* subheader */
    .sub-header-contact-row
    {
        display: none;
    }

    /* header */
    .header-link-accentuate
    {
        border: 1px solid #00561B;
        border-radius: 0;
        color: white;
        background-color: #00561B;
    }

    .header-v-separator
    {
        border-right: none;
    }

    /* bannière de l'accueil */
    .index-header-banner-txt-padding
    {
        padding: 5px;
    }

    .index-header-title-text
    {
        margin-top: 5px;
    }

    .index-header-title-text > h1
    {
        font-size: 20px;
    }

    .index-header-p-right-text
    {
        margin-top: 10px;
    }

    .index-header-p-e-text
    {
        margin-top: 5px;
    }

    .index-header-p-e-text > h4
    {
        font-size: 20px;
    }

    #help-you
    {
        padding: 15px;
    }

    /* about */
    .about-profil-img
    {
        width: 350px;
        height: 350px;
        transform: rotate(0deg);
        padding: 10px;
    }

    /* contact */
    .page-header-banner
    {
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;
        background-position: center;
        background-color: #0c1431;
        color: white;
        margin-bottom: 10px;
    }
}