{% apply inline_css %}
    <style>

    </style>

    <h3>Nouvelle demande de rendez-vous</h3>

    <p>
        Bonjour, une nouvelle demande de rendez-vous vient d'être soumise de la part de <span style="font-weight: bold;">{{name | title}}</span>
    </p>

{% endapply %}